
<%= link_to "Home", user_path(@task.user_id) %>
<%= link_to "Edit this Task", edit_event_task_path(@task.event, @task)%>
<div class="show_content">
<h1> <%= @task.description %></h1>
This task is <%= @task.status %> 

<h3> Current To Do List for <%=@event.title%></h3>
<ul>
    <% @event.tasks.each do |t| %>
         <li><%= t.description%></li>
    <% end %>
</ul>
</div>